<div class="jumbotron">
  <h1>App</h1>
  <form name="formGoogle" role="form">
    <h2>Dados usuário</h2>
    

    <h3>
       <span> Nome do usuário: <p name="txtUserPrint" class="txtUserPrint"></p></span>
    </h3>
    <br>
    <br>
  </form> 
  <div>
        <label for="text">Insira o texto aqui:</label>
        <input type="text" name="text" id="txt" class="form-control activeInput"/>  
        <br> 
        <label for="number">Selecione um número aqui:</label>
        <input type="number" name="number" id="number" class="form-control activeInputNumb"/>    
        <br>
        <button class="btn btn-lg btn-primary doIt" type="submit">Processar</button>
        <br>
        <br>
        <label for="list">Palavras processadas</label>
        <h3>
            <ul name="list" class="txt"></ul>
        </h3>
        <br>
        <button class="btn btn-lg btn-primary doItCombin" type="submit">Análise Combinatória</button>
        <br>
        <br>
        <label for="listCombin">Palavras processadas - Análise combinatória</label>
        <h3>
            <ul name="listCombin" class="txtCombin"></ul>
        </h3>       
  </div>
</div>